<template>
  <div class="app-menu min-vh-100">
    <b-img src="../assets/buu.png" width="80%" center class="pt-2 pb-2"></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Hone</b-nav-item>
      <b-nav-item to="/about">About</b-nav-item>
      <b-nav-item @click="showFromInput = !showFromInput"
        >From Input
        <b-icon
          :icon="showFromInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" to="./fromInput1" v-if="showFromInput"
        >Form Input1</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./fromInput2" v-if="showFromInput"
        >Form Input2</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./formInput3" v-if="showFromInput"
        >Form Input3</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./formInput4" v-if="showFromInput"
        >Form Input4</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./formInput5" v-if="showFromInput"
        >Form Input5</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./formInput6" v-if="showFromInput"
        >Form Input6</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./formInput7" v-if="showFromInput"
        >Form Input7</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./formInput8" v-if="showFromInput"
        >Form Input8</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./formInput9" v-if="showFromInput"
        >Form Input9</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./formInput10" v-if="showFromInput"
        >Form Input10</b-nav-item
      >
      <b-nav-item @click="showForm = !showForm"
        >From
        <b-icon
          :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" to="./form1" v-if="showForm"
        >Form 1</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./form2" v-if="showForm"
        >Form 2</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./form3" v-if="showForm"
        >Form 3</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./form4" v-if="showForm"
        >Form 4</b-nav-item
      >
      <b-nav-item @click="showCrudExample = !showCrudExample"
        >CRUD Example
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" to="./datatable1" v-if="showCrudExample"
        >Data Table1</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./productform1" v-if="showCrudExample"
        >Product Form 1</b-nav-item
      >
      <b-nav-item class="sub-menu" to="./productTable" v-if="showCrudExample"
        >Product Table</b-nav-item
      >
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFromInput: false,
      showForm: false,
      showCrudExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: gray;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
